<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load i18n %}
    {% load static %}

    <title>{% trans "Add Test" %} | YOUR-EXAMS.RU</title>

    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

</head>

<body>

    <div class="test-add-form-parent">
        <div class="test-add-form-child">

            <form method="POST">
                {% csrf_token %}
                <a href="pc" class="return-a">{% trans "Back to Main" %}</a>

                <h3>{% trans "Title" %}</h3>
                <input required type="text" placeholder="{% trans "Title" %}" maxlength=32 name="title">

                <div class="questions-div">
                    <h3>{% trans "Question" %}</h3>
                    <input required maxlength=128 name="question" type="text" placeholder="{% trans "Question" %}" maxlength=64>
                    <br>
                    <input required maxlength=128 name="correctAnswer" type="text" placeholder="{% trans "Correct Answer" %}">
                    <input required maxlength=128 name="uncorrectAnswer1" type="text" placeholder="{% trans "Answer" %}"><br>
                    <input required maxlength=128 name="uncorrectAnswer2" type="text" placeholder="{% trans "Answer" %}">
                    <input required maxlength=128 name="uncorrectAnswer3" type="text" placeholder="{% trans "Answer" %}"><br>

                    <input type="submit" value=" " class="add-plus">
                </div>

                <h2>{{ error }}</h2>
            </form>

             <div class="test-show-div">
                 <h3>Текущий тест: </h3>
                 <ul>
                    <h4>{{ test.title }}</h4>

                    {% if test.title != None %}
                        {% cycle '' 'main-li' 'answer' 'answer' 'answer' as myDivision %}
                        {% for q in questions %}
                            <li class="{% cycle myDivision %}">{{ q }}</li>
                        {% endfor %}
                    {% endif %}
                 </ul>
             </div>
        </div>
    </div>

</body>
</html>