<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>YOUR-EXAMS.RU</title>

    {% load static %}

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <script src="{% static 'js/modernizr.js' %}"></script>

    <link rel="icon" type="image/png" href="{% static 'favicon1.png' %}">


</head>

<body id="top">

<header>

    <div class="row">

        <div class="logo">
            <a href="#" style="background: url('../static/images/logo1.png') no-repeat center; background-size: 42px 42px;">YourExams</a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="current"><a class="smoothscroll" href="#intro" title="">Home</a></li>
                <li><a class="smoothscroll" href="#process" title="">Process</a></li>
                <li><a class="smoothscroll" href="#faq" title="">FAQ</a></li>
                <li class="highlight with-sep"><a href="register" title="">Sign Up</a></li>
                <li class="highlight with-sep"><a href="login" title="">Log In</a></li>
            </ul>
        </nav>

        <a class="menu-toggle" href="#"><span>Menu</span></a>

    </div>

</header>


<section id="intro" style="background: #14181E url(../static/images/intro-bg1.jpg) no-repeat center;">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h5>Добро пожаловать на your-exams.ru</h5>
                <h1>Создавайте и делитесь вашими тестами с коллегами и друзьями.</h1>

                <a class="button stroke smoothscroll" href="#process" title="">Learn More</a>

            </div>

        </div>
    </div>

</section> <!-- /intro -->


<!-- Process Section
================================================== -->
<section id="process">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>Process</h5>

            <h1>Как это работает ?</h1>

            <p class="lead">Начать работать на сайте легко, нужно всего лишь выполнить пару действий.</p>

        </div>
    </div>

    <div class="row process-content">

        <div class="left-side">

            <div class="item" data-item="1">

                <h5>Зарегистрируйтесь</h5>
                <br>
                <p>В главном меню выберите пункт "Sing Up", заполните форму и подтвердите регистрацию.</p>

            </div>

            <div class="item" data-item="2">

                <h5>Войдите в аккаунт</h5>
                <br>
                <p>В главном меню выберите пункт "Sing In" и введите данные.</p>

            </div>

        </div> <!-- /left-side -->

        <div class="right-side">

            <div class="item" data-item="3">

                <h5>Создайте тест</h5>
                <br>
                <p>В личном кабинете кнопка "Создать тест" перенаправит вас на форму. Дальше все зависит от ваших целей.</p>

            </div>

            <div class="item" data-item="4">

                <h5>Опубликуйте</h5>
                <br>
                <p>Когда тест уже завершен, Вы можете поделиться с кем угодно его уникальной ссылкой.</p>

            </div>

        </div> <!-- /right-side -->

        <div class="image-part" style="background-image: url('../static/images/appdesign1.jpg');"></div>

    </div> <!-- /process-content -->

</section> <!-- /process-->


<!-- faq
================================================== -->
<section id="faq">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Faq</h5>

            <h1>Вопросы и Ответы.</h1>

            <br>
        </div>
    </div>

    <div class="row faq-content">

        <div class="q-and-a block-1-2 block-tab-full group">

            <div class="bgrid">

                <h3>What are the security features?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim
                    proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                    adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>How can I update my user profile?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim
                    proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                    adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>What features are not included in the free version?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim
                    proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                    adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>Can I upgrade my account from Starter to Premium?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim
                    proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                    adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>Where can I found all my uploads?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim
                    proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                    adipisicing cupidatat.</p>

            </div>

            <div class="bgrid">

                <h3>How long can I use the free trial version?</h3>

                <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim
                    proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit
                    adipisicing cupidatat.</p>

            </div>

        </div> <!-- /q-and-a -->

    </div> <!-- /faq-content -->




</section> <!-- /faq -->

<footer>

    <div class="footer-main">

        <div class="row">

            <div class="col-four tab-full mob-full footer-info">

                <div class="footer-logo" style="background: url('../static/images/footer-logo1.png') no-repeat center; background-size: 150px 35px;"></div>

                <p>
                    WebDeveloper <br>
                    Alexander Baranovsky <br>
                    1423demon@mail.ru
                </p>

            </div> <!-- /footer-info -->



            <div class="col-two tab-1-3 mob-1-2 social-links">

                <h4>Social</h4>

                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Dribbble</a></li>
                </ul>

            </div> <!-- /social -->

            <div class="col-four tab-1-3 mob-full footer-subscribe">

                <h4>Subscribe</h4>

                <p>Subscribe to our newsletter.</p>

                <div class="subscribe-form">

                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="dEmail" class="email" id="mc-email"
                               placeholder="Type your email here" required="">

                        <input type="submit" name="subscribe">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>

                </div>

            </div> <!-- /subscribe -->

        </div> <!-- /row -->

    </div> <!-- /footer-main -->

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>