<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}
    
    <meta charset="UTF-8">
    <title>{% trans "Log In" %} | YOUR-EXAMS.RU</title>

    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

</head>

<body>

<div class="test-add-form-parent">
    <div class="test-add-form-child">

        <a href="main" class="return-a">{% trans "Back to Main" %}</a>

        <h3>{% trans "Log In" %}</h3>

        <form method="POST">
            {% csrf_token %}
            <div>
                <h4>{% trans "Username" %}</h4>
                <input type="text" placeholder="{% trans "Username" %}" required maxlength=24 name="username">
                <h4>{% trans "Password" %}</h4>
                <input type="password" placeholder="{% trans "Password" %}" minlength=8 required maxlength=24 name="password"> <br> <br>

                <h2>{{ error }}</h2>
                
                <button>{% trans "Log In" %}</button> <br> <br>

                {% trans "Don't have an account ?" %} <a href="register">{% trans "Register" %}</a> <br> <br>

                <a href="password_reset">{% trans "Reset password" %}</a> <br><br>
            </div>
        </form>
    </div>
</div>

</body>
</html>