<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {% load i18n %}
    {% load static %}

    <title>{% trans "Personal cabinet" %} | YOUR-EXAMS.RU</title>

    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>

<div class="main-content">
    <nav class="pc-nav">
        <div class="logo"
             style="background: url('../static/images/logo1.png') no-repeat center; background-size: 42px 42px; width: 50px; height: 50px;"></div>

        <ul class="pc-menu">
            <li><a href="add">{% trans "Add Test" %}</a></li>
            <li><a href="#">{% trans "Hello, " %} {{ userLogin }}</a></li>
            <li><a href="password_change">{% trans "Change password" %}</a></li>
            <li><a href="main">{% trans "Log out" %}</a></li>
        </ul>
    </nav>

    <div class="panel">
        <ul class="panel-menu">
            <li><a href="#">{% trans "YourTests" %}</a></li>
            <li><a href="#">{% trans "CompletedTests" %}</a></li>
        </ul>

        <div class="panel-div">
            <div class="panel-content">
                {% for mt in myTests %}
                    <div class="panel-content-child">
                        <h1 class="titleTest"><a href="test/{{mt.id}}">{{ mt.title }}</a></h1>
                        <h2 class="descTest">Создан {{ mt.date_creating }} Человек прошло: {{ mt.ends }}</h2>
                    </div>
                {% endfor %}
            </div>

            <div class="panel-content">
                {% for ct in compTests %}
                <div class="panel-content-child">
                    <h1 class="titleTest"><a href="#">{{ ct.title }}</a></h1>
                    <h2 class="descTest">Результат: {{ct.correctAnswers}}/{{ct.maxCorrectAnswers}}</h2>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

</body>
</html>